* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    font-size: 62.5%;
  }

body {
    z-index: 1;

}

nav {
  display:flex;
  width:100%;
  background: rgb(44, 201, 167);
  padding:0.3em 0.3em 0.3em 1.5em;
  justify-content:space-between;
  align-items:center;

}

.logo {
  font-family: "Lucida Console", Courier, monospace;
  display:inline-block;
  text-decoration: none;
  font-size: 2.5em;
  color:white;
  font-weight: bold;
}

.logo:hover {
  color:red;
}

.nav-links {
  list-style:none;
  display:flex;
}

.nav-item {
  display: inline-block;
  padding: 1em 1.5em;
  text-decoration: none;
  color:white;
  font-size:2em;
  font-family: "Lucida Console", Courier, monospace;
}

.nav-item:hover {

  color:red;
}



.logo img {
  width: 7.5rem;
  vertical-align: middle;
}



.Introduction {
  display:grid;
  grid-template-columns: repeat(autofit, minmax(20em, 1fr));
  grid-template-rows: repeat(5, 20em);
  grid-row-gap:2em;
  grid-column-gap:2em;
  grid-template-areas: 
  ". . . . . "
  ". Image Image Image ."
  ". Image Image Image ."
  ". Image Image Image ."
  ". Description Description Description ."
  ;
  background:turquoise;
  justify-content:center;
}

.Image-Intro {
  grid-area: Image;
  display:flex; 
  flex-direction: column;
  flex-wrap: wrap;
  
}
.Image-Intro img {
  border:0.2em solid #fff;
}

.description {
  display:flex;
  flex-direction: column;
  grid-area: Description;
  border:0.4em solid #fff;
  background:lightgreen;font-family: "Lucida Console", Courier, monospace;
  font-weight: bold;
}

.description p {text-align:center;
font-size:1.4em;
margin:0.1em;
margin-top:1em;
margin-bottom:1em;
}

.About {
display:grid;
grid-template-columns: repeat(autofit, minmax(10em, 1fr));
  grid-template-rows: repeat(7, 14,2857142857em);
  grid-row-gap:2em;
  grid-column-gap:2em;
  grid-template-areas:
  ". . . . . . . . . . "
  ". past past past past past past . side-image1 ."
  ". past past past past past past . side-image1 ."
  ". . . . . . . . . . "
  ". present present present present present present . side-image2 ."
  ". present present present present present present . side-image2 ."
  ". . . . . . . . . . ";
  background:rgb(76, 238, 222);
  font-family:Helvetica, sans-serif;
}

.past {
  grid-area: past;
  display:flex;
  flex-direction: column;
 padding:4em;
  
  background: rgb(186, 253, 186);
}

.past h2 {
   font-weight:bold;
   font-size: 3em;
    margin:0.2em 0em 1em 0em;
}

.past p {
  font-size: 1.5em;
  margin-top:0.1em;
  margin-bottom:0.1em;
}


.side-image1 {
  grid-area: side-image1;
}

.present {
  grid-area: present;
  display:flex;
  flex-direction: column;
  
  

  padding:2em 4em 2em 4em;
  background: rgb(186, 253, 186);
}

.present h2 {
  font-weight:bold;
  font-size: 2em;
   margin:0.2em 0em 1em 0em;
}

.present p {
  font-size: 1.2em;
  margin-top:0.1em;
  margin-bottom:0.1em;
  letter-spacing: 0.1em;
}

.side-image2 {
  grid-area: side-image2;
}



.glider {
 display:grid;
 padding:10em;
grid-row-gap:2em;
  grid-column-gap:2em;
  grid-template-columns: repeat(autofit, minmax(33em, 1fr));
  grid-template-rows: repeat(1, 1fr);
  background:rgb(97, 247, 232);
 grid-template-areas: 
 ". glider ."
 ;
 grid-area:glider;
font-size:3em;
font-family: DejaVu Sans Mono, 'monospace';
letter-spacing:-0.09em;
}

.glider figcaption {
  margin:1.5em;
  font-weight: bold;

}

.HTML {
  color:orange;
  text-shadow: 0.1em 0.1em white;
}

.CSS {
  color:blue;
  text-shadow: 0.1em 0.1em white;
}

.JavaScript {
 color: yellow;
 text-shadow: 0.1em 0.1em black;
}

.C {
  color: rgb(130, 130, 212);
  text-shadow: 0.2em 0.2em 0.1em white;
}

.Python {
color:rgb(65, 65, 255);
text-shadow: 0.1em 0.1em yellow;
}

.glider p {
  
  padding:0.2em;
}

.glider > div {
   
   display:flex;

   flex-direction: row;
   flex-wrap: wrap;
   text-align: center;
   margin:0em 0em 0em -10em;
   
}
.glider-contain button {
background-color: blue;
padding:0.3em;

color:white;
}

#dots {
  background:rgb(97, 247, 232);
}


.skills {
  display:grid;
  grid-template-columns: repeat(autofit, minmax(11em, 1fr));
  grid-template-rows: repeat(5, 1fr);
grid-template-areas:

". begin1 begin1 begin1 . ptice1 ptice1 ptice1 ."
". begin begin begin . ptice ptice ptice ."
". begin begin begin . ptice ptice ptice ."
". begin begin begin . ptice ptice ptice ."
". begin begin begin . ptice ptice ptice ."

;
background:rgb(197, 246, 255);
font-family:Helvetica, sans-serif;letter-spacing:0.1em;
}

.Beginning {
grid-area:begin;
padding:1.8em;
margin:0em 0em 10em 0em;
font-size: 1.8em;


}

.Beginning1 {
grid-area: begin1;
margin:1em;
text-align:center;
font-size:2.8em;
}

.Practice {
grid-area:ptice;
padding:1.8em;
margin:0em 0em 10em 0em;
font-size: 1.8em;

}

.Practice1 {
grid-area:ptice1;
margin:1em;
text-align:center;
font-size:2.8em;
}

footer {
  display:flex;
  background:rgb(223, 250, 255);
  flex-direction: column;
  text-align:center;
  padding:3em;
  font-family:Helvetica, sans-serif;
  letter-spacing:0.1em;
  
}

footer p {
  padding:1.3em;
}
